DATABASE_URL="postgresql://postgres:password1234@db:5432/partiel_nest"
PORT=8000

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=a96b14001@smtp-brevo.com
SMTP_PASS=
SMTP_FROM="PartielNest <assijonathan2@gmail.com>"